
/*Fuentes*/
@font-face
  {
    font-family: HelveticaNeue;
    src: url('../Fonts/HelveticaNeue.ttc');
  }
  @font-face
  {
    font-family: CheddarGothic ;
    src: url('../Fonts/CheddarGothicRough-Regular.otf');
      font-display: swap;

  }
  @font-face
  {
    font-family: Knucklehead ;
    src: url('../Fonts/Knucklehead-Black.otf');
  }
  @import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

  /*cuerpo*/
  html,
  body {
    width: 100%;
    height: 100%;
    background-color: #000000;
    
  }

#app
{ 
 
  background-color: #000000;

}
#nav
{
 font-family: HelveticaNeue;
 font-size: 16px;
 background-color: #000000;
 
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  color: white;

}
  
#header {
    display: flex;
  flex: auto;
  flex-direction: column;
  /* fix firefox can't set height smaller than content on flex item */
  min-height: 0;
  background-color: #000000;

  }


 /*componentes*/ 
 hr{
   background-color: #fff;
   height: 2px;
 }
 .buttonrojo {
  width: 180px;
  height: 38px;
  border: solid 1px #ad8c63;
  background-color: #ad8c63;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
  color: #fff;
}

.buttonborde
{
  width: 180px;
  height: 38px;
  border: solid 1px #ad8c63;
  background: rgba(0, 0, 0, 0);
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
  color: #fff;
  border: solid 1px #ad8c63;
}
.buttonbordeblanco
{
  width: 180px;
  height: 38px;
  border: solid 1px #ad8c63;
  background: rgba(0, 0, 0, 0);
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
  color: #fff;
  border: solid 1px #fff;
}
select{
  width: 270px;
height: 38px;
border: solid 1px #ad8c63;
background: rgba(0, 0, 0, 0);
font-family: HelveticaNeue;
font-size: 16px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.26;
letter-spacing: normal;
color: #fff;
border: solid 1px #fff;

}

  select,
  option{
  background-color: black;
  font-family: HelveticaNeue;
font-size: 13px;
color: #fff;

  }
input[type=text] {
  width: 100%;
  padding: 12px 30px;
  margin: 20px 0;
  border: none;
  border-bottom: 2px solid white;
  background: rgba(0, 0, 0, 0);
  font-family: HelveticaNeue;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
  color: #fff;
}
input:focus{
  outline: 0;
}
textarea{
  resize: none;
  width: 100%;
  height: 100px;
  padding: 12px 30px;
  margin: 20px 0;
  border: none;
  border-bottom: 2px solid white;
  background: rgba(0, 0, 0, 0);
  font-family: HelveticaNeue;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
  color: #fff;
}
#menu
{
  align-items:center ;
  justify-content:center;
  display:flex;
  
}

  #slider
{
    background-image: url('../imagenes/hero-fondo.jpg');
    align-items:center;
    justify-content: center;
  height: 764px;
  background-size: 100% 100%;
    background-position: center;
    max-width: 1920px;

}

#headerpost
{
  
  max-width: 1400px;
  background-size: 100% 100%;
  background-position: center;
  align-items:center;
  height: 600px;

}
#nosotros
{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../imagenes/fondo-nosotros-85.jpg');
  background-size: 100% 100%;
  background-position: center;
  align-items:center;
  height:  664px;
  max-width: 1920px;

}
.transparencia
{
  background-color: rgba(0,0,0,0.5);

}
#reservaciones
{
  background-image: url('../imagenes/fondo-reservaciones.jpg');
  background-size: 100% 100%;
  background-position: center;
  align-items:center;
  height: 664px;  background-size: 100% 100%;

  max-width: 1920px;

}
#musicaenvivo
{
  background-image: url('../imagenes/fondo-musicaenvivo.jpg');
  background-position: center;
  align-items:center;
  height: 800px;
  max-width: 1920px;

}
#deportes
{
  background-image: url('../imagenes/fondo-deportes.jpg');
  background-size: 100% 100%;
  background-position: center;
  align-items:center;
  max-width: 1920px;
  


}
#carouseldeportes
{
  height: 500px;
    border: solid 1px #80715e;
    max-width: 1400px;
    align-items:center;
    justify-content: center;

}

.carrusel
{
  background-size: 100% 100%;
  background-position: center;
  height: 23vw;
  align-items: center;
  justify-content: center;
  max-height: 456px;
}

#contacto
{
  align-items:center;
  justify-content: center;
}
.tab
  {
  width: 200px;
  height: 38px;
  border: solid 1px #2e2e2e;
  background-color: #2e2e2e;
  font-family: HelveticaNeue;
  font-size: 14px;
  padding: 10px 15px;
  color: #fff; 
  text-align: center;
  }
  .tabclick
  {
   
    background-color: #80715e;
    color: #fff;

  }
  .tab:hover {
   
    background-color: #80715e;
    color: #fff;
  }

  
  .subtab
  {
    font-family: HelveticaNeue;
    font-size: 16px;
  
    line-height: 1.53;
    color: grey;
  }
  
  .subtabclick
  {
   
    color: #fff;

  }
  .subtab:hover {
   
    color: #fff;

  }
  .tabsuc
  {
    font-family: HelveticaNeue;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal; 
    color: grey;
  }
  .tabsucclick
  {
   
    color: #ad8c63;

  }
  .tabsuc:hover {
   
    color: #ad8c63;

  }
  .sucdireccion
  {
    font-family: HelveticaNeue;
    font-size: 11px;
   
    color: grey;
  }
  .sucdireccionclick
  {
   
    color: #fff;

  }
  
  .infopromo
  {
    /* width: 336px; */
    width: 106%
  }
  .imagenpromo
  {
    /* width: 328px; */
    width: 100%
   
  }
  .imgalacran
  {
    width: 320px;
  }
  .rectangulo {
    width: 18px;
    height: 6px;
    background-color: #fff;
    margin-left: 49%;
    margin-bottom: 20px;
    }


 
/*titulos parrafos     
*/

#link
{
  text-decoration: none;
  font-size: 13px;
  font-family: HelveticaNeue;

  color: #fff;


}

#tituloa
{
  font-family: CheddarGothic , 'Teko', Impact;
  font-display: block;
  font-size: 74.88px;

  
  color: #fff;

}

#titulob
{
  font-family: Knucklehead;
  font-size: min(9.8vw, 89px);

  color:#fff;
}
#tituloc
{
  font-family: Knucklehead;
  font-size: min(9.8vw, 89px);
    color:#ad8c63;
    line-height: .8;

}
#titulod
{
  font-family: Knucklehead;
  font-size: 42px;
    color:#fff;

}
#tituloproducto
{
  
 
  font-family: HelveticaNeue;
  font-size: 19px;
  font-weight: 700;
margin-top: 25%;
  text-align: left;
  color: #fff;
  border-bottom: 1px white dashed;
}
#titulodeporte
{
  font-family: HelveticaNeue;
  font-size: 23px;
  font-weight: bold;

  text-align: left;
  color: #fff;

}

#titulomusica
{
  font-family: Helvetica;
  font-size: 22px;
  font-weight: bold;
  margin-top: 10%;

  text-align: left;
  color: #fff;

}
#titulofranquicia
{
  font-family: Knucklehead;
  font-size: 60px;
    color:#ad8c63;
    line-height: .8;
}
#titulocontacto
{
  font-family: CheddarGothic , 'Teko', Impact;
  font-display: block;
  font-size: min(9.8vw, 70px);

  
  color: #fff;

}
#tituloe
{
  font-family: HelveticaNeue;
  font-size: 23px;
  text-align: left;
  color: grey;
}
#subtituloa
{
  font-family: HelveticaNeue;
  font-size: 21px;

  color: #fff;
}
#parrafoa
{
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #fff;
}
#parrafob
{
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 300;
 
  font-style: italic;
 
  text-align: left;
  color: grey;
}
#parrafoc
{
  font-family: HelveticaNeue;
  font-size: 15px;
  font-weight: 300;
 
  font-style: italic;
 
  text-align: left;
  color: white;
}
#parrafod
{
  font-family: HelveticaNeue;
  font-size: 17px;
  font-weight: 300;
 
 
  text-align: left;
  color: white;
}

.espacio
  {
    background-color:#000000;

    width: 100px;
    height: 160px;
  }
.borderight
{
  border-right: 1px #80715e solid;

}

#brand
{
  display: none;

} 



/*responsive*/
.simovil{
display: none;
}

@media (max-width: 360px) 
  {
  .imgalacran
  {
    width: 250px;
  }
  }
@media (max-width: 576px) 
  {

   #musicaenvivo
   {
     background-size: 0%;
     height: auto;
   }
   #reservaciones
   {
    
     height: auto;
   }

  
  
 
   .infopromo
   {
     width: 50%;
    }
 



}
@media (max-width: 1000px) 
  {
  
    #carouseldeportes
    {
      height: auto;
    }
 
    #brand
    {
      display: inline ;
  
    }
    #menu
    {
      display: inline ;
  
    }
    .nomovil
    {
      display: none ;
    }
    .simovil
    {
      display: inline;
    }
    
   
    .rectangulo {
      width: 18px;
      height: 6px;
      background-color: #fff;
      margin-left: 48%;
      margin-bottom: 20px;
      }
    .buttonrojo
    {
      margin-right: 2%;
    }
    .buttonborde{
      margin-left: 6%;
    }
    select
    {
      width: 180px;

    }
/*cambios*/
    
}
@media (max-width: 1100px)
{
 #slider{
   height: 664px;
 }
 #headerpost
 {
   height: 500px;
 }
}  
@media (max-width: 1368px)
{

  /*titulos y parrafos*/
 #tituloa
 {
   font-size: 3.9vw
 }
}


@media (max-width: 1919px)
{
  #nosotros
{
  background-size: cover;
}
#reservaciones{
  background-size: cover;
}


}
  